{
    "input_file": "input_files/input.csv",
    "output_file": "output_files/output.png",
    "income_reference_accounts": [
        {
            "account_name": "Account 1",
            "iban": "IBAN 1",
            "income_filters": [
                { "sankey_label": "Zinsen / dividende", "csv_column_name": "Verwendungszweck", "csv_value_filters": ["zins/dividende"] },
                { "sankey_label": "Gehalt", "csv_column_name": "Beguenstigter/Auftraggeber", "csv_value_filters": ["Your employer"] },
            ]
        },
        {
            "account_name": "Account 2",
            "iban": "IBAN 2",
            "income_filters": [{ "sankey_label": "Zinsen / dividende", "csv_column_name": "Verwendungszweck", "csv_value_filters": ["zins/dividende"] }]
        }
    ],
    "income_data_frame_filters": [
        { "csv_column_name": "Analyse-Betrag", "csv_value_filters": ["Einnahmen"] },
        { "csv_column_name": "Analyse-Umbuchung", "csv_value_filters": ["nein"] },
        { "csv_column_name": "Referenzkonto", "csv_value_filters": ["IBAN 1", "IBAN 2"] }
    ],
    "issues_data_frame_filters": [
        { "csv_column_name": "Analyse-Betrag", "csv_value_filters": ["Ausgaben"] },
        { "csv_column_name": "Analyse-Umbuchung", "csv_value_filters": ["nein"] }
    ],
    "issues_hierarchy": {
        "csv_column_name": "Analyse-Hauptkategorie",
        "sub_category": {
            "csv_column_name": "Analyse-Unterkategorie",
            "sub_category": null
        }
    },

    "income_node_name": "Einnahmen",
    "not_used_income_name": "Nicht verwendetes einkommen",
    "analysis_year_column_name": "Analyse-Jahr",
    "analysis_month_column_name": "Analyse-Monat",
    "amount_out_name": "Betrag",
    "other_income_name": "Sonstige Einnahmen",
    "last_used_month": 8,
    "last_used_year": 2024,
    "last_used_issue_level": 2,
    "dark_mode": true
}