{
    "input_file": "input_files/input.csv",
    "output_file": "output_files/output.png",
    "income_reference_accounts": [
        "Income iban 1",
        "Income iban 2"
    ],
    "income_sources": [
        {
            "label": "Zinsen / dividende",
            "column": "Verwendungszweck",
            "values": [
                "zins/dividende"
            ]
        },
        {
            "label": "Gehalt",
            "column": "Beguenstigter/Auftraggeber",
            "values": [
                "Your employer"
            ]
        },
        {
            "label": "Steuererstattung",
            "column": "Beguenstigter/Auftraggeber",
            "values": [
                "finanzamt"
            ]
        },
        {
            "label": "Other income",
            "column": "Beguenstigter/Auftraggeber",
            "values": [
                "other income source"
            ]
        }
    ],
    "income_data_frame_filters": [
        {
            "column": "Analyse-Betrag",
            "values": [
                "Einnahmen"
            ]
        },
        {
            "column": "Analyse-Umbuchung",
            "values": [
                "nein"
            ]
        },
        {
            "column": "Referenzkonto",
            "values": [
                "Income iban 1",
                "Income iban 2"
            ]
        }
    ],
    "issues_data_frame_filters": [
        {
            "column": "Analyse-Betrag",
            "values": [
                "Ausgaben"
            ]
        },
        {
            "column": "Analyse-Umbuchung",
            "values": [
                "nein"
            ]
        }
    ],
    "column_analysis_main_category": "Analyse-Hauptkategorie",
    "column_analysis_sub_category": "Analyse-Unterkategorie",
    "income_node_name": "Einnahmen",
    "not_used_income_names": [
        "Nicht verwendetes einkommen",
        "Auf giro verbleibend"
    ],
    "analysis_year_column_name": "Analyse-Jahr",
    "analysis_month_column_name": "Analyse-Monat",
    "amount_out_name": "Betrag",
    "other_income_name": "Sonstige Einnahmen",
    "last_used_month": 8,
    "last_used_year": 2024,
    "last_used_issue_level": 1,
    "dark_mode": true
}
